# Игнорировать файлы .env с секретными данными
.env

# Игнорировать папки с зависимостями
venv/
__pycache__/
node_modules/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы IDE
.idea/
.vscode/
*.iml

# Игнорировать Docker-специфичные файлы
docker-compose.override.yml